@CHARSET "UTF-8";

<!-- 图书列表 -->

body {
}

.BookLogo {
	padding-top: 20px;
	width: 150px;
	height: 170px;
}

#bookListShow{
}

#bookList {
	border-width: thick;
	width: 850px;
	height: 450px;
}

#bookList li {
	float: left;
	padding-right: 10px;
}

.clear {
	clear: both;
}

<!-- 图书列表 -->


<!-- 页眉页尾 -->

#title{
	width:auto;
	height: 25px;
}

#footer{
	width: auto;
	height: 50px;
}

<!-- 页眉页尾 -->


<!-- 导航条 -->

body{
	margin: 0,auto;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

#nav_wrap {
	width: 960px;
}

#nav {
	background: url(../img/image/nav_bg2.gif) repeat-x bottom;
	height: 49px;
	position: relative;
	width: 950px;
	margin: 20px auto;
}

#nav .l {
	background: url(../img/image/nav_l2.gif) no-repeat bottom;
	height: 49px;
	width: 28px;
	float: left
}

#nav li {
	float: left;
	list-style: none;
	text-align: center;
	font-size: 14px;
}

#nav li .v a {
	width: 108px;
	height: 49px;
	line-height: 49px;
	display: block;
	color: #FFF;
	float: left;
	font-family: Arial, Verdana, Tahoma, "宋体";
}

#nav li .v a:hover,#nav li .v .sele {
	background: url(../img/image/nav_hover2.gif) no-repeat bottom;
	color: #fff;
	height: 49px;
	line-height: 49px;
	font-size: 14px;
	padding-left: 0px;
}

#nav .kind_menu {
	height: 30px;
	*height: 29px;
	line-height: 30px;
	vertical-align: middle;
	position: absolute;
	top: 46px;
	*top: 48px;
	left: 70px;
	width: 880px;
	text-align: left;
	display: none;
	color: #000;
	font-size: 12px;
}

#nav .kind_menu a {
	color: #000;
	float: left;
	text-align: center;
	width: 90px;
	font-family: Arial, Verdana, Tahoma, "宋体";
	font-size: 12px;
}

#nav .kind_menu a:hover {
	color: #000;
	border-bottom: 2px #a60000 solid;
}

#nav .kind_menu span {
	font-size: 10px;
	color: #000;
	line-height: 30px;
	*line-height: 26px;
	float: left
}

<!-- 导航条 -->